  
    
@media screen and (max-width:700px) {

    .items{
        width: 35%;
        color: maroon;
       font-size:small;
       margin: 15px;
    }
    
    
    header{
        height: fit-content;
        position: relative;
        left:0;
        right: 0;
        
     }
       nav{
       flex-direction:column;
    float:none;
     top: 13%;
     left:10px;
     position: absolute;
     width: fit-content;
     padding: 0;
     visibility: hidden;
     z-index: 1;
     height: 85%;
     background-image: url(images/block1.jpg);
    
      }
    
        nav a{
        margin-top:35px;
        color: #fff;
       }
    
       #nav-btn{
        left: 0;
       }
    
    .title{
        font-size: x-large;
        left:22%;
        width: 50%;
      
        
    }
    
    .introduction{
        width: 60%;
        left: 22%;
    }
    
    .home_section{
        color:#fff;
        background-image:radial-gradient( circle, wheat 70%,maroon 2%);
    }
    /*for gallery pages*/
    .zoomed {
        transform: scale(1);
    }
    .container{
        box-shadow: 8px 4px 5px wheat inset;
        margin: 0px 3px ;
            }
        
            .item{
                width:50%;
                flex:40%;
            }
              
            }